.box-bg {
  background-color: #346ed118;
  border: 1px solid #00000029;
}
.box-bg:hover {
  background-color: #346ed116;
  scale: none !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.text-color {
  color: #29292a;
}
.aspect-ratio {
  width: 100%;
  aspect-ratio: 3/2 !important;
}
.custom-style {
  overflow: hidden;
  height: 600px !important;
}
@media screen and (max-width : 576px) {
  .custom-style{
    height: 600px !important;
  }
}
@media screen and (max-width : 992px) {
  .custom-style{
    height: 900px !important;
  }
}