.accordion-item {
  border-radius: none !important;
  box-shadow: #DAE5EB  0 !important;
  background-color: #346ed11f !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-header button::after {
  margin-left: 0 !important;
}
.accordion-header button {
  box-shadow: #DAE5EB  0 !important;
  background-color: #DAE5EB !important;
  border: 2px solid #346ed14e;
}
