.bg {
  background-color: #04bea2;
}
.fs-12 {
  font-size: 13.5px;
}
.text-color {
  color: #29292a !important;
}
.card-header{
  margin: 0 !important;
}
.bg-box {
  background-color: #346ed118 !important;
  border: 1px solid #00000029 !important;
}
.bg-box:hover {
  background-color: #346ed127 !important;
  transition: all 0.3s;
}
.fixed-style{
  position: sticky !important;
  top: 40px !important;
}
.style-title{
  border-right: 4px solid #3485d1;
  padding: 0 10px;
}
.style-desc{
  margin: 20px 0;
  border-right: 3px solid #3485d18e;
  border-bottom: 3px solid #3485d18e;
  padding: 0 10px;
  border-bottom-right-radius: 10px;
}